#Datesets and images
/Dataset_Original
Dataset_Original.zip
/Dataset_Kaegel
Dataset_Kaegel.zip
/RustImages

# Legacy ipynb
DowloadCornRustDesease.ipynb
TestWatermarkRemover.ipynb
hystory.ipynb
MyCnnModel_1.ipynb
MyCnnModel_2.ipynb
MyCnnModel_3.ipynb
MyCnnModel_4.ipynb

#bytecode-compiled .py file
__pycache__

#Models and Classnames
modelLib/*
!modelLib/README.md
uploads/*
!uploads/README.md
